.gallery {
  column-count: 3;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-width: 33%;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  padding: 0 1.2rem;
}

.pics {
  margin-bottom: 1.2rem;
  width: 100%;
}

.loader {
  width: 7rem;
  margin: 1rem auto 1rem auto;
}

@media (max-width: 991px) {
  .gallery {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
  }
}

@media (max-width: 480px) {
  .gallery {
    column-count: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-width: 100%;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
  }
}
